<!DOCTYPE html>
<html>
<head>
  <title>MetaEngine</title>
  <%= stylesheet_link_tag    "meta-engine/application", :media => "all" %>
  <%= javascript_include_tag "meta-engine/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
